body {
  font-family: 'Ubuntu';
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}
@keyframes fadeInAnimation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.header {
  overflow: hidden;
  background-color: #e28383;
  padding: 27px 75px;
  box-shadow: 1px 5px 5px 1px rgba(192, 76, 76, 0.4);
  width: 100%;
  height: 100px;
}

.header a {
  float: left;
  color: rgb(20, 3, 82);
  text-align: center;
  padding: 12px;
  margin-left: 30px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 14px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: rgb(20, 3, 82);
  text-decoration: none;
}

.header a.active {
  background-color: rgb(157, 184, 211);
  color: rgb(73, 73, 73);
  text-decoration: none;
}

.header-right {
  float: right;
}
@media screen and (max-width: 1200px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
.tabdiv{
  margin-left: 8%;
  margin-right: 15px;
  border-radius: 14px;
  width: 84.5%;
  height: 1000px;
  border: 1px solid rgb(218, 215, 215);
  overflow: auto;
}

input[type=text] {
    font-family: 'Ubuntu';
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: rgb(49, 47, 47);
    padding: 12px 20px 12px 18px;
    border: 3px solid rgb(243, 73, 73);
    margin-bottom: 32px;
    margin-top: 32px;
    margin-left: 8%;
    width: 130px;
    border-radius: 4px;
    background-color: rgb(245, 160, 160);
    background-position: 10px 10px; 
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    box-shadow: 1px 5px 5px 1px rgba(73, 72, 72, 0.4);
}
input[type=text]:focus {
    font-family: 'Ubuntu';
    text-transform: uppercase;
    width: 30%;
    border: 3px solid rgb(231, 36, 46);
    border-radius: 4px;
    box-shadow: 1px 5px 5px 1px rgba(73, 72, 72, 0.4);
}
table tr th,
table tr td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 5px;
}
table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #bbb;
}
table tr th {
    border-top: 1px solid #bbb;
    text-align: left;
  }
  /* top-left border-radius */
table tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  /* top-right border-radius */
table tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }
  
  /* bottom-left border-radius */
table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  
  /* bottom-right border-radius */
table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }
table{
    text-align: left;
    width: 75%;
    position: relative;
    border-radius:6px;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 1px 8px 8px 1px rgba(73, 72, 72, 0.4);
    margin-right: 35px;
    animation: fadeInAnimation ease 3.5s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-delay: 0.3s;
} 
@keyframes fadeInAnimation{
    from{
      bottom: 200px;
    }
    to{
      bottom: 0px;
    }
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
#cumlative tr:hover {
    background-color: #cc6e6e;
}
th{
    color: rgb(241, 243, 232);
    background-color: #be4c4c;
    text-align: left;
    position: sticky;
    top:0;
    cursor: pointer;
    box-shadow: 0 2px 2px -1px rgba(73, 72, 72, 0.4);
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
td:first-child, th:first-child {
    border-left: none;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5a4747; 
}
