*{
  font-family: 'Ubuntu';
}
body {
  font-family: 'Ubuntu';
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}
@keyframes fadeInAnimation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
hr.line1{
  border: 2px solid rgb(87, 130, 223);
  animation-name: transline1;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  position: relative;
}
@keyframes transline1{
  from{
    right: 1000px;
  }
  to{
    right: 0px;
  }
}
.header {
  overflow: hidden;
  background-color: #ffffff;
  padding: 27px 65px;
  width: 30%;
  height: 70px;
  animation-name: transheader;
  position: relative;
  animation-duration: 1s;
}
@keyframes transheader{
  from{
      bottom: 200px;
  }
  to{
      bottom: 0px;
  }
}

.header a {
  float: left;
  color: rgb(20, 3, 82);
  text-align: center;
  padding: 12px;
  margin-left: 30px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 14px;
}

.header a.logo {
  font-size: 32px;
  font-weight: bold;
}

.header a:hover {
  background-color: rgb(255, 254, 254);
  color: rgb(20, 3, 82);
  text-decoration: none;
  cursor: pointer;
}

.header a.active {
  background-color: rgb(157, 184, 211);
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.header-right {
  float: right;
}
@media screen and (max-width: 1200px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
.tabdiv{
  margin-left: 4%;
  margin-right: 15px;
  border-radius: 14px;
  width: 92.5%;
  height: 1000px;
  border: 1px solid rgb(255, 255, 255);
  overflow: auto;
  animation-name: transdiv;
  position: relative;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes transdiv{
  from{
      bottom: 200px;
  }
  to{
      bottom: 0px;
  }
}
button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
}
.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center;
}
.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tabs [class^="tab"] [type="radio"]:hover,
.tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 1px solid #fd264f;
}
.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid #fd264f;
}
.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
    opacity: 1;
}
.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
    display: block;
    opacity: 0;
    padding: 2rem 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tabs .tab-2 {
    width: 50%;
}
.tabs .tab-2 [type="radio"] + div {
    width: 200%;
    margin-left: 200%;
}
.tabs .tab-2 [type="radio"]:checked + div {
    margin-left: 0;
}
.tabs .tab-2:last-child [type="radio"] + div {
    margin-left: 100%;
}
.tabs .tab-2:last-child [type="radio"]:checked + div {
    margin-left: -100%;
}
input[type=text] {
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Ubuntu';
    color: rgb(255, 255, 255);
    padding: 12px 20px 12px 18px;
    border: 3px solid rgb(235, 98, 98);
    margin-bottom: 32px;
    margin-top: 22px;
    margin-left: 6%;
    width: 130px;
    border-radius: 4px;
    background-color: rgb(245, 160, 160);
    background-position: 10px 10px; 
    box-shadow: 1px 2px 2px 1px rgba(73, 72, 72, 0.4); 
    animation-name: example;
    animation-delay: 0.5s;
    animation-duration: 1s;
    position: relative;
    animation-fill-mode: backwards;
    transition: 0.4s ease-in-out;
}
@keyframes example{
  from{
    right: 500px;
  }
  to{ 
    right: 0px;
  };
}
input[type=text]:focus {
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
    width: 25%;
    border: 3px solid rgb(231, 36, 46);
    border-radius: 4px;
    box-shadow: 1px 5px 5px 1px rgba(73, 72, 72, 0.4);
}
table tr th,
table tr td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 5px;
}
table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #bbb;
}
table tr th {
    border-top: 1px solid #bbb;
    text-align: left;
  }
  /* top-left border-radius */
table tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  /* top-right border-radius */
table tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }
  
  /* bottom-left border-radius */
table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  
  /* bottom-right border-radius */
table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }
table{
    text-align: left;
    width: 100%;
    position: relative;
    border-radius:6px;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 1px 8px 8px 1px rgba(73, 72, 72, 0.4);
    margin-right: 35px;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
  }
  @keyframes fadeInAnimation{
    0%{
      opacity: 0.9;
    }
    100%{
      opacity: 1;
    }
  }
#cumlative tr:hover {
    background-color: #cc6e6e;
}
#debtbody tr:hover {
    background-color: #cc6e6e;
}
th{
    color: rgb(241, 243, 232);
    background-color: #be4c4c;
    text-align: left;
    position: sticky;
    top:0;
    cursor: pointer;
    box-shadow: 0 2px 2px -1px rgba(73, 72, 72, 0.4);
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
td:first-child, th:first-child {
    border-left: none;
}
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5a4747; 
}
